$WIDTH_TABLET: 480px;
$WIDTH_DESKTOP: 940px;

$COLOR_BRIGHT: #07AA9E;
$COLOR_DARK: #337277;
$COLOR_SCREEN: #DAE5E3;
$COLOR_BLACK: #000000;
$COLOR_WHITE: #FFFFFF;
$COLOR_LIGHTGRAY: #809E9B;
$COLOR_DARKGRAY: #6A7575;
$COLOR_DARKERGRAY: #3C4242;
$COLOR_COPY: #262626;
$COLOR_ERROR: #990000;



@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$INTERSTATE: Interstate, sans-serif;
$INTERSTATE_LIGHT: "Interstate Light", sans-serif;
$FONT_HEADLINE: Interstate, sans-serif;
$FONT_LARGE_HEADLINE: "Interstate Light", sans-serif;
$FONT_BODY: "Source Sans Pro", sans-serif;

$HEADER_HEIGHT_WITHOUT_UNITS: 60;
$HEADER_HEIGHT: $HEADER_HEIGHT_WITHOUT_UNITS+px;
$NEGATIVE_HEADER_HEIGHT: $HEADER_HEIGHT_WITHOUT_UNITS*-1+px;