/* ---------------------------------------------------------------------
 Base Element Styles
------------------------------------------------------------------------ */

body {
	font-family: $FONT_BODY;
	font-size:16px;
	line-height:24px;
	color:$COLOR_COPY;
}


h1 {
	font-size:30px;
	margin-bottom:20px;
	font-family: $INTERSTATE_LIGHT;
}

h2 {
	font-size:30px;
	line-height:45px;
	margin-top:20px;	
	margin-bottom:10px;
	font-weight:normal;
	font-family: $INTERSTATE_LIGHT;
}

h3 {
	margin-top:20px;
	margin-bottom:10px;
	font-size:23px;
	line-height:25px;
	text-transform: uppercase;		
	color: inherit;
	font-family: $INTERSTATE;
}

h4 {
	font-family: $INTERSTATE;
	line-height:24px;
	font-size: 16px;
	margin-top:10px;
	margin-bottom:0;
}

p + p, p + ul, p + ol, ul + p, ol + p, p + form {
    margin-top: 10px;
}

ul {
	list-style: disc;
	padding-left:25px;
}

ol {
	list-style: decimal;
	padding-left:25px;
}

a {
	color: $COLOR_DARK;
}

a:hover {
	color: $COLOR_BRIGHT;
}


.button, .btn {
	background: $COLOR_DARK;
	@include border-radius(5px);
	font-family: $FONT_HEADLINE;
	text-transform: uppercase;
	color: $COLOR_WHITE;
	text-decoration: none;
	padding:10px;
	border:none;
	-webkit-appearance:none;
}

.button:hover, .btn:hover {
	background: $COLOR_BRIGHT;
	color:$COLOR_WHITE;
}