<div class="section section-intro" id="intro">
	<div class="section-intro-banner">
        <%= image_tag "logo-prime.png", :class=>"section-intro-logo", :alt=>"Prime - Software Engineering Academy", :itemprop=>"logo" %>
    	<h1>Prime yourself to start a software engineering career in 18 weeks.</h1>
        <p><a href="" class="button">Learn More</a></p>
    </div>
    <h2>Code tomorrow.</h2>
    <p>The world is being changed by ubiquitous computing. People with the ability to design and build software have become essential to progress in science, technology, politics, healthcare and business — but there aren’t enough of them to go around. We believe there’s an untapped army of smart, passionate problem solvers able to rise to the challenge of building tomorrow’s software. They just need some help getting ready. That’s why we founded Prime.</p>
    <p>The future needs software, enroll in Prime’s Software Engineering Academy and code tomorrow.</p>
</div>

<div class="section section-program" id="program">
	<h2>Our Program at a Glance</h2>
    <p>Working with employers, we’ve re-engineered software engineering education to prioritize capabilities beginners need to make immediate contributions to the future of software. Our students learn modern technologies, real world methodology and relevant behavioral skills through hands-on, experiential learning. We’re empowering adult learners from diverse backgrounds to start contributing to the software revolution in months, not years.</p>
    <p>We prepare students to join the industry as entry-level software engineers through a program centered around a 12 week immersive, classroom experience. We’ll use modern technologies like NodeJS, Angular and MongoDB to give you a foundational knowledge in software engineering that you can apply in any technical environment. Your experience with Prime will look like this:</p>
    <ul>
        <li>Preload</li>
        <li>Boot</li>
        <li>Build</li>
        <li>Launch</li>
    </ul>
</div>

<div class="section section-curriculum" id="curriculum">
	<h2>What You'll Learn</h2>
    <p>We’re constantly updating our curriculum to respond to the evolution of technology and the feedback from our hiring network. Here’s what’s on the menu for our next cohort:</p>
    <h2>All In A Day's Work</h2>
    <p>Each day at Prime is a beautiful and unique snowflake, but here’s what they all generally have in common:</p>
    <h2>How Are We Different?</h2>
    <p>Each day at Prime is a beautiful and unique snowflake, but here’s what they all generally have in common:</p>
    <h3>Learn the Industry from the Inside</h3>
    <p>Born from and co-located with a working software development company, Prime bring a holistic approach to its program helping students understand the job of a software engineer and how they’ll need to interface and collaborate with project managers, designers, quality assurance and especially clients and stakeholders. Students will experience the award-winning culture of The Nerdery and get real exposure to the working life of a software engineer starting on their first day of school</p>
    <h3>Learn from Experts Working in the Industry</h3>
    <p>Supporting our seasoned instructors, classroom mentorship at Prime is delivered through a unique sabbatical program that offers working software engineers of our hiring network the chance to bring their expertise into the classroom without leaving their job. As a students you’ll be learning spend every day learning from technical experts with up-to-the-minute context to help you launch your career.</p>
    <h3>Learn by Doing</h3>
    <p>Prime’s curriculum is engineered from top to bottom to prepare you for the software engineering workplace through exposure to pragmatic best practices and real world work. Our challenges and assignments are abstracted from actual work and the projects in the second half of the program are drawn from real needs of hiring network partners and startups in our community. You’ll leave the program with a portfolio of work, not just a collection of homework exercises.</p>
    <h3>Learn through On-the-job Apprenticeship</h3>
    <p>The hardest part of breaking into a new career is getting started. Prime’s partnerships with dozens of local tech employers will help smooth your transition. Our network of apprenticeship positions, designed specifically with Prime graduates in mind provide 3 or more months of paid, on the job experience to get your resume started. Placement in these programs must be earned, but we’ve worked with the network to ensure that you’re learning everything you need to know to hit the ground running in your first job as a software engineer.</p>
    <h2>What Are We Looking For?</h2>
    <p>The world’s best software engineers have one thing in common: they all started with no experience. Our accelerated learning program primes high potential students to begin their careers in software development and provides them with a framework to keep developing themselves while they develop software to solve real-world problems.</p>
    <p>Here’s what makes a prospective student stand out from the crowd:</p>
    <ul>    
        <li>Resiliency to learn from failure and keep experimenting</li>
        <li>Curiosity, with a voracious learning mindset</li>
        <li>Intense personal drive, pragmatism, and resourcefulness</li>
        <li>Commitment to empathy and inclusivity</li>
        <li>Enough experience to know coding is for you</li>
    </ul>
    <h3>Passion Required, Experience is Optional</h3>
    <p>You don’t need to be a seasoned hacker to succeed at Prime. In fact, our program is designed to ensure that even if you come to us with no coding experience, we’ll get you ready for your first job by the time we send you on your way. That said, to succeed you do have to be passionate about development so we hope have played with programming enough to know you want to make it a big part of your life. Our application process includes links to resources that you can explore to make sure software engineering is right for you if you haven’t had a chance to get your hands dirty yet.</p>
</div>

<div class="section section-tution" id="tuition">
	<h2>How Much for A New Career?</h2>
    <h3>Tuition at Prime is $12,500.</h3>
    <p>Your tuition supports our industry-leading instruction and mentorship staff, a low student:teacher ratio and ongoing curriculum development and hiring network recruiting to help ensure that you you graduate with the skills employers need and a foot in the door at a great organization.</p>
    <p>Students who pre-pay will receive a $500 discount. A $1,500 deposit is required to hold your place in class.</p>
    <p>We have developed partnerships with local banks to help provide financing for students, just mention that in your application and we’ll connect you.</p>
    <h3>A Little Help From Uncle Sam</h3>
    <p>We’re proud to partner with The City of Minneapolis, Dakota County, Creating IT Futures foundation and The Whitehouse to bring programming education to underserved populations in MN. Our unique partnership with local government. Contact program administrators to determine if you may be eligible.</p>
</div>

<div class="section section-schedule" id="schedule">
    <h2>When Can You Start?</h2>        
    <p>We have programs starting monthly to help you...</p>
    <h3>Be a Launcher</h3>
    <p>Be the first of Minnesota’s next generation of software talent in our first cohort. Launching in April 2015, join our launch cohort and be ready to brag about your new skills at the 4th of July BBQ!</p>
</div>

<div class="section section-network" id="network">
	<h2>Employer Network</h2>    	
    <p>From its inception, Prime was about getting people up to speed for jobs in the industry, so its no suprise that we’ve been working with a big network of employers since before we launched. Below are some of the companies that have contributed to our curriculum, welcomed apprentices to their teams, empowered their engineers to mentor and worked with students on projects in their build phase.</p>
    <ul>
        <li>The Nerdery</li>
        <li>Other Company</li>                
        <li>Other Company</li>                
        <li>Other Company</li>                
        <li>Other Company</li>                                                                
        <li>Other Company</li>
        <li>Other Company</li>                
        <li>Other Company</li>                
        <li>Other Company</li>                
        <li>Other Company</li>                                                                                
    </ul>
    <h3>Looking for the Next Generation of Software Engineering Talent?</h3>
    <p>Looking to add passionate, job-ready entry level engineers to your team? Contact us and we’ll talk.</p>
</div>

<div class="section section-about" id="about">
    <h2>About Prime</h2>
    <h3>Our Vision</h3>
    <p>We help smart, motivated people make a difference in the world through software.</p>
    <h3>Our Values</h3>
    <ul>
        <li>Students First: Prime is a built around helping you change your life for the better.</li>
        <li>Empathy > Engineering: It doesn’t matter how clever your solution is if you don’t understand the problem you’re solving. Seek first to understand.</li>
        <li>Experiment Fast: Like our students, we learn by doing. We believe rapid iteration, an experimental approach and meaningful feedback loops are an engine for success.</li>
        <li>Strength in Diversity: It’s hard to think different when everyone’s the same. We believe that broadening the pool of software engineering talent will strengthen the industry.</li>
        <li>Be Humble: People who know everything can’t learn anything, we ask our students and ourselves to be open to learning by embracing our ignorance.</li>
    </ul>
    <h3>Origin Story</h3>
    <p>Though we wish we could say we were bit by a radioactive software engineer, our origin is a bit more mild mannered. Prime was founded by the creators of The Nerdery, a custom software development company whose super power is the collective intelligence of its 500+ employees. Inspired by the challenge that The Nerdery, its partners and clients were facing in finding qualified software engineers, Prime was created to do something to help Minnesota’s tech industry develop the talent they need to drive innovation in software.</p>
</div>

<div class="section section-faq" id="faq">
	<h2>FAQ</h2>    	
</div>