<h1>Launch Announcement</h1>

<p>FOR IMMEDIATE RELEASE</p>
<p>The Nerdery Launches Prime Digital Academy to Produce Homegrown Software Engineers and Web Developers</p>

<p>Prime’s partnerships with industry and local government aim for a sustainable solution to the coding talent crunch</p>

<p>Minneapolis - (December 8, 2015) - Minnesota businesses already feel the pinch of too few talented, job-ready software developers, and industry analysts see the gap worsening with a forecasted 28% increase in US application development jobs through 2020. While 65% of IT leaders say the tech talent gap is negatively affecting their business, the founders of Minnesota-based custom software development company The Nerdery will tackle the problem head on by launching a school for software engineers called Prime Digital Academy (Prime). 
</p>
<p>Prime is dedicated to helping smart, driven learners get up to speed for entry-level jobs in software engineering through an intense, immersive accelerated training program focused on industry-led experiential learning and apprenticeship. The 18-30 week program’s objective is to arm graduates with three things: 1) entry-level technical skills relevant in the current market, 2) behavioral skills to succeed as part of a software development team, 3) a mindset of continuous learning and toolbox of techniques to support a long, successful career. Prime co-founder Mike Derheim sums up the business’ objective: “Prime is about changing our students lives for the better while at the same time serving the tech community in Minnesota.” Derheim is also co-founder and CEO of The Nerdery.
</p>
<p>Prime will partner with the City of Minneapolis Employment Training, the Minnesota High Tech Association (MHTA) and the Creating IT Futures Foundation to increase the accessibility of the program to all Minnesotans by making public funding available for qualifying students who would be otherwise unable to attend. This partnership is part of an innovative program by the White House Office of Science and Technology Policy to foster development of the accelerated-learning model in communities across the United States.
</p>

<p>Prime will begin operations with a “beta” cohort beginning prework on February 24, 2015, and will start admitting regular monthly cohorts in July of 2015. Tuition for the program is set at $12,500. Applications for the first cohorts are open today, and are expected to close for the first cohort on or before January 9th, 2015.</p>

<p>Prime’s unique staffing model reflects its commitment to community partnership. Students are grouped into cohorts of 18-20 individuals, with each cohort staffed by a team of one instructor (a full-time employee of the school) and one mentor (a working software developer on a sabbatical from a local company, their salary covered by Prime during their stay). Mark Hurlburt, Prime President and co-founder, explained the strategy behind this approach, saying “It’s unconventional, but we see it as a win for everyone. The students get up-to-the-minute current context from working professionals, the mentors get a great experience where they can build their coaching and leadership skills, and mentor’s employers get professional development for their employee and an inside track on two cohorts of entry-level candidates that will have learned to think a lot like one of their star performers.”
</p>
<p>In some schools, students first exposure to their industry is after graduation – not so for Prime. The academy’s campus is a situated next door to The Nerdery’s headquarters in Bloomington, MN. “Everything about Prime is aimed at helping our students make a smooth transition into their new lives as professional software engineers,” said Derheim. “Being able to study software engineering from within a working software development company is a great way to help students acclimate and really learn the industry from the inside.” The school’s proximity to The Nerdery – and the involvement of industry professionals in mentoring and job assistance – will afford students an education opportunity unlike anything currently available to students in Minnesota.
</p>
<p>But students’ industry experience will extend outside the walls of The Nerdery. Many students will get the chance apply these skills immediately through a network of paid apprenticeships Prime will coordinate with local tech employers. These apprenticeships offer students a chance to gain critical on-the-job experience for their resumes, while employers get a chance to evaluate their talent and assess if they’d be a good fit for their team. 
</p>
<p>Local businesses already signed on to work with Prime by hosting apprenticeships, serving on the curriculum board or simply hiring graduates include: Sport NGIN; Robert Half Technology; Digital People; Morsekode; Periscope; Genesis 10; ICS Consulting; BIR Networks and The Nerdery. Prime expects to continue to grow its network. “We’d love to someday have every Minnesota employer who depends on software engineers involved in our program in some way,”said Hurlburt. “We see the talent gap in software as a problem the whole industry needs to pull together in order to solve.” 
</p>
<p>To learn more or apply for the program visit http://primeacademy.io
</p>
<p>About Prime Digital Academy
</p><p>Prime Digital Academy is dedicated to helping smart, driven learners get up to speed for entry level jobs in software engineering through an intense, immersive accelerated learning program focused on industry-led experiential learning and apprenticeship.</p>

<p>- ### -
</p>
<p>Contact:
Mark Hurlburt
President
Prime Digital Academy 
press@primacademy.io
(612) 222-8108</p>