<p>FOR IMMEDIATE RELEASE</p>

<p>Contact:<br/>
Mark Hurlburt, 612-222-8108, <%= mail_to "press@primeacademy.io", "press@primeacademy.io", encode: "javascript" %><br/>
Mark Malmberg, 612-850-3178, <%= mail_to "markm@nerdery.com", "markm@nerdery.com", encode: "javascript" %></p>

<h2>The Nerdery Launches Prime Digital Academy to Produce Homegrown Software Engineers and Web Developers</h2>

<h3>Prime’s partnerships with industry and local government aim to fuel innovation and economic development in the region while creating sustainable solution to the coding talent crunch</h3>

<p>Minneapolis - (December 15, 2015) - Twin Cities-based custom software company The Nerdery today announced its launch of Prime Digital Academy (Prime), a school for software engineers. Prime is accepting applications from prospective students today at <%= link_to "http://primeacademy.io", "http://primeacademy.io" %> for its beta cohort starting March 3.</p>

<p>“While The Nerdery’s inspiration for creating Prime stems from our own neverending business need for software engineers, we’re further encouraged by the growing number of supporting organizations who share our interests in priming next generations of tech talent,” said Mike Derheim, CEO and co-founder of The Nerdery. “Nearly 30 companies and organizations have committed to hire graduates, host apprenticeships, or serve on Prime’s curriculum board. From the start of our conversations with partners throughout our community it was clear that this school’s impact can help companies industry-wide – this is bigger than us.”</p> 

<p>Local companies onboard with Prime include: 3M; Ackmann & Dickenson; AIC; AVL Growth Partners; BIR Networks; BustOut Solutions; Carlson School Center for Entrepreneurship; Digital People; Genesis 10; GovDelivery; ICS Consulting; Livefront; MN Cup; MN.IT; Modern Climate; Morsekode; Myriad Mobile; Olson; Periscope; PH Digital Labs; Robert Half Technology; Smart Factory; Software For Good; Sport NGIN; Target; Thomson Reuters; and When I Work.</p>

<p>Prime will feature an intense, immersive accelerated learning program dedicated to helping smart, driven learners get up to speed for entry-level jobs in software engineering. The academy focuses on industry-led experiential learning and apprenticeship with some of the metro’s leading IT employers. After its first cohort this spring, Prime will start admitting regular monthly cohorts in July of 2015. Tuition for the academy is set at $12,500. Applications for the first cohort will close on January 22.</p> 

<p>“This is another important step in training and developing our state’s highly skilled workforce,” said Margaret Anderson Kelliher, president and CEO of the Minnesota High Tech Association.  “We were happy to see a local company step forward, ready and willing to provide this training. It’s something that will benefit Minnesota and our people now and well into the future.”</p>

<p>To encourage more women to pursue tech careers, The Nerdery and Modern Climate will each grant a $500 scholarship to each female applicant accepted into the program, providing a $1,000 total scholarship to women training as software engineers. Digital People will grant a $500 scholarship for the first 5 veterans accepted into the program in 2015.</p>

<p>Prime is partnering with City of Minneapolis Employment Training, the Minnesota High Tech Association,  the Creating IT Futures Foundation and Jewish Family and Children’s Service of Minneapolis to increase the accessibility of the program to all Minnesotans by making public and private funding available for qualifying students who would be otherwise unable to attend. This partnership is part of a program by the White House Office of Science and Technology Policy to foster development of the accelerated-learning model in communities nationwide.</p> 

<p>“The Minneapolis-Saint Paul region has traditionally been a hub for innovation. Ingenious startups have found that our cities provide the environment and the labor force to make companies like 3M, Medtronic, and others successful,” said Minneapolis Mayor Betsy Hodges. “In this fast, technology-driven environment, we need to work together to make it easy for every individual to acquire the skills that meet the demands of our growing high-tech industry. I am very excited for this partnership and for the results that Prime Digital Academy will bring.”</p>

<p>Minnesota businesses already feel the competition for too few talented, job-ready software developers – 65% of IT leaders say the tech talent gap is negatively affecting their business. Industry analysts see jobs in application development increasing by 28% through 2020.</p> 

<p>“Thomson Reuters has a vested interest in helping to engage today’s students with a life-long passion for technology so that we can help foster a skilled workforce for tomorrow,” said Lisa Schlosser, Chief Technology Officer of FindLaw, a Thomson Reuters business. “That’s why it is a priority for us to support training programs – such as our own Python and Java coding classes for middle school students, and Prime’s technology education for adult learners – that help ensure a vibrant, dynamic community that can benefit and sustain Minnesota’s economy.”</p>

<p>Prime’s 18-week program’s objective (with optional 12-week or more apprenticeship) is to arm graduates with three things: 1) entry-level technical skills relevant in the current market, 2) behavioral skills to succeed as part of a software development team, 3) a mindset of continuous learning and toolbox of techniques to support a long, successful career. Prime’s President Mark Hurlburt sums up the business’ objective: “Prime is about changing our students lives for the better while at the same time serving the tech community in Minnesota.” Hurlburt was The Nerdery’s CSO before “leaving” to lead Prime Digital Academy.</p>

<p>Prime’s staffing model reflects its commitment to community partnership. Students are grouped into cohorts of 18-20 individuals, with each cohort staffed by a team of one instructor (a full-time employee of the school) and one full-time mentor (a working software developer on a sabbatical from a local company, their salary covered by Prime during their stay). “It’s unconventional, but we see it as a win for everyone,” said Hurlburt. “The students get up-to-the-minute current context from working professionals, the mentors get build their coaching and leadership skills, and mentor’s employers get professional development for their employee and an inside track on two cohorts of entry-level candidates that will have learned to think a lot like one of their star performers.”</p>

<p>“Software engineers are at the heart of GovDelivery’s business, and Prime’s program is an innovative solution to developing more of them the Minnesota way – by tapping the amazing talent pool we already have,” said Scott Burns, CEO & Co-Founder, GovDelivery. “We believe Prime can connect hundreds of new people with rewarding careers in technology and that it will be a competitive asset to our business and the State of Minnesota.”</p>

<p>“Everything about Prime is aimed at helping our students make a smooth transition into their new lives as professional software engineers,” said Derheim. “Being able to study software engineering from within a working software development company is a great way to help students acclimate and really learn the industry from the inside.”</p>

<p>The school’s proximity to The Nerdery – and the involvement of industry professionals in mentoring and job assistance – will afford students an education opportunity unlike anything currently available to students in Minnesota. But students’ industry experience will extend outside the walls of The Nerdery and Prime. Many students will get the chance apply these skills immediately through a network of paid apprenticeships Prime will coordinate with local tech employers. These apprenticeships offer students a chance to gain critical on-the-job experience for their resumes, while employers get a chance to evaluate their talent and assess if they’d be a good fit for their team.</p> 

<p>“What excites us about Prime is their passion for truly preparing new developers for the realities of the tech industry,” said Chad Halvorson, CEO/founder of When I Work. “The disciplines and expectations that Prime instills with graduates is what's been missing from traditional academic tech programs.”</p>

<p>Prime expects to continue to grow its partner network. “We’d love to someday have every Minnesota employer who depends on software engineers involved in our program in some way,” said Hurlburt. “We see the talent gap in software as a problem the whole industry needs to pull together in order to solve.”</p> 

<h3>More comments from some of Prime’s partners:</h3>
<p>“Finding and nurturing young technical talent has always been a huge challenge for digital agencies,” said Mark Morse, CEO/Chief Creative Officer, Morsekode. “We believe Prime will create a highly-desirable level of candidate that can not only fill these workforce needs, but begin to shape the future of the workforce itself.”</p>

<p>“The software industry is perpetually evolving, so learning and teaching are always a primary endeavor for anybody in this industry,” said Jeff Lin, Founder, Bust Out Solutions. “Prime brings this to the forefront.”</p>

<p>“Prime is a program that makes an immediate impact by coaching, training and providing hands on relevant projects based on real workplace criteria that will turn out market-ready students,” said Bryan Peglow, Business Development Manager at Digital People. “There are a lot of talented people out there that just need some additional skills under their belt and Prime will bridge that gap.”</p>

<p>“At Software for Good, we've had great successes hiring development bootcamp graduates,” said Casey Helbing, founder of Software for Good. “These programs give students working knowledge of what it takes to be a successful Software Developer on day one. It is great to see a bootcamp coming to Minnesota.”</p>

<p>“Prime provides our company with immediate access to qualified technical resources and fills the current skills-gap that exists in the market today,” said Kyle Meehan, co-founder/Strategy Director, PH Digital Labs.</p>

<p>“We're happy to be aligned with Prime's goal of creating software engineering opportunities for individuals and growing the industry via the development of skills and knowledge through hands-on experience," said Justin Royer, Vice President of Digital Engagement at Periscope.</p>

<p>“AIC is very excited to partner with Prime Academy,” said James Brown, Managing Director of AIC. “We look forward to helping students prepare for their careers in software engineering. Our partnership with Prime Digital Academy will help boost the Twin Cities tech industry by connecting  graduates to immediate job opportunities that fit their skills from the excellent curriculum that Prime has developed.”</p>

<p>“The market has been very tight for the Software Development arena, and we are eager to partner with Prime to elevate and strengthen the candidacy of entry-level Software Engineers,” said Jacqueline Snyder at Infinity Consulting Services. “It is an honor to collaborate so closely with Prime and we look forward to the evolution of the Tech community in Minnesota as a result of this initiative.”</p>

<p>"We see Prime’s program as a modern approach to enabling students to successfully navigate getting started in a relatively complex and high-demand career path,” said John Moberg, CIO, Modern Climate. “Prime has reinvented an accelerated learning program to provide a win-win situation fostering students-first and network-first benefit. We’re excited to be a part of this endeavor to raise the bar for the greater good." </p>

<h3>About Prime Digital Academy</h3>
<p>Prime Digital Academy aims to build a new model for education that works at the speed of the software industry. The intense, immersive 18 week accelerted learning program transforms students' lives by empowering them with the skills and mindset to build a meaningful career in software development. Prime's meaningful connection with the industry, its unique instruction model that brings working developers into the classroom as mentors and its focus on experiential learning and apprenticeship set it apart from other training programs. Prime's network of partners organizations that inform curriculum, host apprenticeship and hire graduates includes 30 companies ranging from innovative startups to Fortune 500 household names.</p>


<h3>About The Nerdery</h3>
<p>Founded by three programming pioneers in 2003, The Nerdery is professional home of 500+ web developers, UX designers, QA engineers and other Nerds creating custom interactive technology to solve clients’ unique business needs, including websites, mobile and social-media app development. The Nerdery has made Inc. Magazine’s list of fastest growing private companies for seven straight years, appeared on multiple top workplace lists, and received Inc.’s Hire Power Award for year-to-year job growth. Through The Nerdery Overnight Website Challenge, volunteer web pros have donated about $5 million in pro bono services to 144 nonprofits. The Nerdery marked its 10th anniversary in 2013 by launching a commemorative coin etched with company core values and vision into space.</p>

<p>- ### -</p>