<div class="section-hangout-cta">
	<%= link_to "RSVP FOR FEBRUARY 27th","https://plus.google.com/b/109023548423120875193/events/carovi00b5h851u9p34vj8vq41k", class: "button" %>	
	<%= link_to "RSVP FOR MARCH 27th","https://plus.google.com/b/109023548423120875193/events/c62gu4o7jrel4ujvcpsg0vrouj0", class: "button" %>	
</div>

<h1>Get live answers from Prime.</h1>
<p>Join us for a Google Hangout with Prime staff and get answers to any questions you may have about Prime. Submit your questions ahead of time or join the hangout live to participate. You can watch the previous sessions below.</p>
<p>Burning questions that can't wait? Call us at (952) 222-8108 or <%= mail_to "hello@primeacademy.io", "drop us an email", encode: "javascript" %>.</p>


<iframe width="940" height="500" src="https://www.youtube.com/embed/RP6BIsFOt3s" frameborder="0" allowfullscreen class="hangout-video"></iframe>
<iframe width="940" height="500" src="https://www.youtube.com/embed/IQr-3ZVnTcg" frameborder="0" allowfullscreen class="hangout-video"></iframe>
<iframe width="940" height="500" src="https://www.youtube.com/embed/pl988Q_0p6A" frameborder="0" allowfullscreen class="hangout-video"></iframe>
<iframe width="940" height="500" src="https://www.youtube.com/embed/I-PpsFC0b5A" frameborder="0" allowfullscreen class="hangout-video"></iframe>