<h1>Help Someone Code Tomorrow</h1>
<p>Interested in supporting emerging talent in Minnesota's tech community? Prime Digital Academy is looking for local software professionals to help develop entry-level newcomers. We look forward to introducing you to our group of dedicated beginners that are eager to learn from your experiences and perspectives. We're currently seeking speakers/panelists and volunteer mentors but if you had something else in mind you can reach out to us at <%= mail_to "community@primeacademy.io", "community@primeacademy.io", encode: :javascript %> to share your ideas for getting involved. Thanks for your support!</p>

<div class="volunteer-column">
<h3>Be A Speaker or Panelist</h3>
<p>Minnesota's tech industry is full of smart, talented people. We're looking for some friendly volunteers to share their knowledge and passion though talks, panel discussions and Q&amp;A's at Prime. Ideally, talks should reinforce some of the nuts and bolts of development, but we're also on the lookout for a few inspiring or engaging topics outside of programming (e.g., starting my first company, completing an Ironman triathlon, etc.).Presentations can be any format: slide decks, activities, discussion-based, etc.</p>
<p>We're also interested in volunteers willing to populate expert roundtables, free-form "AMA-style" sessions and other low-commitment ways to bring their expertise into the classroom. Whether you're interested in helping students understand continuous integration or you just want to show them the secret to solving a Rubick's cube really, really quickly, register to volunteer by telling us the things you're passionate about and we'll follow up with you and find a way to connect you with our students.</p>

<p><%= link_to "Volunteer as a Speaker", "https://docs.google.com/a/nerdery.com/forms/d/1IaZEZAmtPKpkfF1AfJ9d-214XjF3Tu0beMBNOB4Keno/viewform", class: "button" %></p>
</div>


<div class="volunteer-column">
<h3>Be A Volunteer Mentor</h3>
<p>Mentoring is a fun way to help a small group of students orient themselves as they get started in the software development industry. You and a few other working developers (your friends if you wanted to volunteer together) will be matched with a handful of students. We're teaching them to code, your job as mentor is to get to know our them and simply conversations about the craft and the industry. Bring your experience, a “pay-it-forward” attitude, a genuine interest in connecting with others, and about 10 hours of your time over three months. Students will bring questions and handle all the meeting logistics.</p> 
<p>You'll attend orientation where you’ll meet your group. After that introduction, you’ll have 5 meetings over the next three months. The format is up to you and your group - book club, beers, video games or just hanging out. The important thing is that you’re sharing your stories and perspective. You’re welcome to connect with students over email, social media and IM if you want; just set boundaries that work for you.</p>
<p><%= link_to "Volunteer as a Mentor", "https://docs.google.com/a/nerdery.com/forms/d/1pyVwoTOBzJHL0-hQJ25gZIH5H2sY3s8vYdFDeHEs3P0/viewform", class: "button" %></p>
</div>

<div class="sidebar-students">
<h3>Who are our students?</h3>
<p>Prime Academy students are highly-motivated beginners who are diving head first into a full-stack javascript development curriculum. Our students have a range of inspiring backgrounds and have been selected by our admissions as intelligent, professional and passionate about learning. Students range in age from recent high school graduates to people embarking on their second (or third) act careers. Our student population has a roughly even gender split and while we have students as young as 19 and as old as 60, about 70% of them are between the ages of 20 and 40.</p>
</div>
