<h1>Logic</h1>

<p>Select the correct answer from the multiple choice options for each question. Selecting the wrong answer will count against you, but choosing "I don't know" will not.</p>

<%= render "form" %>