<h1>Start</h1>

<p>General instruction text and directions go here.</p>

<%- if @admission_application.application_status == "complete" -%>

	<p>Information about what to expect after submission here...</p>	

<%- else -%>

	<p><%= link_to "Start Your Application", wizard_path(:general), class: "button" %></p>

<%- end -%>