<h1>Let's Get Started</h1>

<p>You are encouraged to complete the application at your own pace. You can come back to your application at any time
  and your progress will be saved, just be mindful of the registration deadline for the cohorts you’re applying for. The
  application process is estimated to take a newcomer to web development about 5-10 hours ( if you have experience with
  web development it may take you significantly less time). Our admissions process takes time and effort. It gives you a
  taste of what it’s like to solve challenges as a developer. So if you enjoy the challenge of the application, it’s a
  great sign that you’ll love a career in the field.</p>

<p>Cohorts will fill on a first-come, first-served basis, so make sure to prioritize the completion of your application
  if you’d like to enroll in a specific cohort.</p>

<p>Here’s how the process works:</p>

<ol>
  <li>Fill out some general demographic information and identify which cohorts you’re applying for.</li>
  <li>Answer a series of short profile questions to tell us a little about yourself.</li>
  <li>Answer a series of puzzles to test your logic and reasoning skills.</li>
  <li>Complete our technical challenge by submitting your resume as an HTML page (we’ll walk you through it if you’re
    new to coding).
  </li>
  <li>Submit your application. You’ll hear back from Prime in two weeks to either schedule an interview with our staff,
    or give you feedback on what you could work on to strengthen your chances if you choose to reapply later.
  </li>
</ol>

<p><%= link_to "Start Your Application", wizard_path(:general), class: "button" %></p>

<%= render 'google_analytics' %>