<h1>HTML Resume Challenge</h1>

<p>In this portion of the application, we would like you to create an HTML version of your resume. We understand that for many of you, the completion of this part of the application will require you to learn new skills. Your ability to drive your own learning is an important predictor of future success. For those learning these skills for the first time, we expect this challenge to take 10-15 hours to complete.  Plan your time, complete the challenge over a couple days, and show off your new skills to friends and family. If you already have a little experience in this area, show us what you’ve got!</p>

<h3>What We’re Looking For</h3>

<p>There is room for creativity in this challenge, but we are looking for a few specific things. Don't worry if some of this is greek to you, you'll be able to get up to speed by going through the resources in the "step by step guide" section below.</p>

<ul>
	<li>Your resume, formatted as an HTML document using a text editor.</li>
	<li>A CSS file linked to your resume to add basic styles to your resume.</li>
	<li>An interactive element to the page that "reveals" the content of your resume in response to a user's click using jQuery.</li>
</ul>

<p>Check out an example of what a completed submission might look like <a href="links/ApplicationExample/index.html"  target="_blank">here</a>.</p>

<h3>Extra Credit</h3>
<p>You have the chance to earn two "bonus points" by going above and beyond in one of the following ways:</p>

<ul>
	<li>
		<p>Styling: Include additional styling to make your resume visually appealing. Show us that you have a solid handle on CSS concepts by adding some designed elements to your resume (note: we still need to read and understand your content). Take a look at what upgrading your styling could look like <a href="links/ApplicationExampleDesignPlus/index.html" target="_blank">here</a>.</p>
	</li>
	<li>
		<p>Interactivity: Include additional functionality to your resume. jQuery offers a number of features, and the possibilities of applying them in this challenge are endless. However, make sure that we’re able to get to the resume content quickly (avoiding complicated interactions). Take a look at <a href="links/ApplicationExampleFunctionalityPlus/index.html" target="_blank">this example</a> that adds animations submission.</p>
	</li>
</ul>

<p>If you really want to impress, tackle both extra credit challenges as in <a href="links/ApplicationExampleDesignPlusFuncPlus/index.html" target="_blank">this example submission</a>.</p>

<h3>Step by Step Guide</h3>
<p>Below you will find resources for everything you need to complete the HTML Resume Challenge.</p>
<p>Things that you will need to complete this challenge:</p>
<ul>
	<li>A copy of your resume</li>
	<li>A personal computer with an internet connection that you have permission to install software on (both Mac and PC are okay)</li>	
	<li>Time and motivation. We estimate that it will take a new programmer approximately 10-15 hours to complete this challenge.</li>	
</ul>

<p>Once you are ready to start, follow the steps below:</p>
<ol>
	<li><a href="https://vimeo.com/113439888" target="_blank">Watch this video</a> on downloading and installing Sublime Text 2. We will use the demo version of this code editor for the challenge. </li>
	<li><a href="https://vimeo.com/113439890" target="_blank">Watch this video</a> on interacting with CodeAcademy.com. Then, head over to CodeAcademy.com and create an account.</li>
	<li>Take the <a href="http://www.codecademy.com/skills/make-a-website" target="_blank">‘Make a Website’</a> course.</li>
	<li>Take the <a href="http://www.codecademy.com/skills/make-an-interactive-website" target="_blank">‘Make an Interactive Website’</a> course. </li>
	<li><a href="https://vimeo.com/113439889" target="_blank">Watch this video</a>, We’ll show you how to apply what you’ve learned in the CodeAcademy.com lessons within the Sublime Text 2 editor. </li>
	<li><a href="https://vimeo.com/113439891" target="_blank">Watch this video</a>, We will discuss what a completed challenge could look like to give you some more context. </li>
	<li><a href="https://vimeo.com/113442508" target="_blank">Watch the video</a>, to learn how to host your resume with the GitHub app for Mac. </li>
</ol>

<h2>Show Us Your Work</h2>

<%= render "form" %>