<h1>HTML Resume Challenge</h1>

<p>In this portion of the application, we would like you to create an HTML version of your resume. We understand that for many of you, the completion of this part of the application will require you to learn new skills. Your ability to drive your own learning is an important predictor of future success. For those learning these skills for the first time, we expect this challenge to take 5-10 hours to complete.  Plan your time, complete the challenge over a couple days, and show off your new skills to friends and family. If you already have a little experience in this area, show us what you’ve got!</p>


<h3>What We’re Looking For</h3>

<p>There is room for creativity in this challenge, but we are looking for a few specific things. Don't worry if some of this is greek to you, you'll be able to get up to speed by going through the resources in the "step-by-step guide" section below.</p>

<ul>
	<li>Your resume, formatted as an HTML document using a text editor.</li>
	<li>A CSS file linked to your resume to add basic styles.</li>
</ul>

<p>Check out an example of what <a href="/resume/ApplicationExample/index.html"  target="_blank">a basic submission</a> might look like when complete.</p>

<h3>Extra Credit</h3>
<p>You can earn a "bonus point" for going above and beyond the regular submission by include additional styling to make your resume visually appealing. Show us that you have a solid handle on CSS concepts by adding some designed elements to your resume (note: we still need to read and understand your content). Take a look at an <a href="/resume/ApplicationExampleDesignPlus/index.html" target="_blank">example with enhanced styling could look like</a>.</p>

<h3>Step-by-Step Guide</h3>
<p>Below you will find resources for everything you need to complete the HTML Resume Challenge.</p>
<p>Things that you will need to complete this challenge:</p>
<ul>
	<li>A copy of your resume</li>
	<li>A personal computer with an internet connection that you have permission to install software on (both Mac and PC are okay)</li>	
	<li>Time and motivation. We estimate that it will take a new programmer approximately 5-10 hours to complete this challenge.</li>	
</ul>

<p>Once you are ready to start, follow the steps below:</p>
<ol>
	<li><a href="https://vimeo.com/113916019" target="_blank" class="litebox">Watch this video</a> on interacting with CodeAcademy.com. Then, head over to CodeAcademy.com and create an account.</li>
	<li>Take the <a href="http://www.codecademy.com/skills/make-a-website" target="_blank">‘Make a Website’</a> course.</li>
	<li><a href="https://vimeo.com/113916018" target="_blank" class="litebox">Watch this video</a> on downloading and using Sublime Text 2. You will use the demo version of this code editor for the challenge. </li>	
	<li><a href="https://vimeo.com/113960831" target="_blank" class="litebox">Watch this video</a>, We will discuss what a completed challenge could look like to give you some more context. </li>
	<li><a href="https://vimeo.com/113960832" target="_blank" class="litebox">Watch the video</a>, to learn how to host your resume with  GitHub. </li>
</ol>

<h2>Show Us Your Work</h2>

<%= render "form" %>