<h1>Congratuations, You're Done!</h1>
<p>You’ve taken a big first step in your software development journey. Here’s what you can expect next:</p>
<ol>
	<li>We will review your application.</li>
	<li>Within 2 weeks, you will receive an email that either invites you to an online interview with our staff, or gives you feedback on what in your application wasn’t as strong as other candidates.</li>
</ol>

<h2>Questions?</h2>
<p>If you have any questions right now, reach out via email at <%= mail_to "admissions@primeacademy.io","admissions@primeacademy.io",subject: "Admissions Question" %></p>

<!-- Google Code for Completed Application Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 947148328;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "DAzoCOCHhF4QqKzRwwM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/947148328/?label=DAzoCOCHhF4QqKzRwwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
