.admissions-menu {
	height:40px;
	margin:0 auto;
	padding:0;
	background:#4D4D4D;	
	width:100%;
	max-width: 940px;
}

.admissions-menu-item {
	display:inline;
	margin:0;
	padding:0;
}

.admissions-menu-item-link {
	display:block;
	border:1px;
	float:left;
	height:20px;
	margin:0;
	padding:10px 30px;
	text-align:center;
	text-decoration: none;
	font-family: $FONT_HEADLINE;
	text-transform: uppercase;
	color:$COLOR_WHITE;
	line-height:20px;
	background: asset-url("bg-admissions-menu-item.png") 0 0 no-repeat, asset-url("bg-admissions-menu-item.png") 100% 0 no-repeat;		
}

.admissions-menu-item-link:hover {
	background: asset-url("bg-admissions-menu-itemCurrent-left.png") 0 0 no-repeat, #777777 asset-url("bg-admissions-menu-itemCurrent-right.png") 100% 0 no-repeat;
}

.admissions-menu-item-linkLogout {
	float:right;
	font-size:13px;
	color:#333333;
	background:none;
}

.admissions-menu-item-linkLogout:hover {
	background:none;
	color:#000000;
}


.admissions-menu-item-linkCurrent {
	background: asset-url("bg-admissions-menu-itemCurrent-left.png") 0 0 no-repeat, $COLOR_DARK asset-url("bg-admissions-menu-itemCurrent-right.png") 100% 0 no-repeat;
}

.admissions-menu-item-linkCurrent:hover {
	background-color:$COLOR_BRIGHT;
}