.layout-header {
	background: $COLOR_BLACK;
	width:100%;
}

.logo {
	height: $HEADER_HEIGHT;
	display:block;
	text-align:center;
}

.logo-link {
	padding-top:10px;
	display:block;
}


 @include breakpoint(desktop) {
 	
 	.layout-header-fixed {
 		position: fixed;
 		top:0;
 	}

 }