<h1>Thanks for Applying to Prime</h1>

<p>Some things to keep in mind as you work on your application:</p>

<ul>
	<li>Cohorts will fill on a first-come, first-served basis, so make sure to prioritize the completion of your application if you’d like to enroll in a specific cohort.</li>
	<li>Keep an eye on upcoming application closing dates for cohorts you're interested in, don't miss the cutoff!</li> 
	<li>Apply for all cohort dates that fit your schedule. Choosing more cohorts will improve your chances of being admitted, as class sizes are small and there is competition for spots.</li>
	<li>You will need to confirm that you are able to fulfill an initial deposit to hold your seat, if accepted to a cohort. If you have questions about finances or the schedule of payments, just email us (admissions@primeacademy.io).</li> 
	<li>Financial assistance is available to Minnesota residents, be sure to provide your income during the application if you'd like us to assess your eligibility.</li>
</ul>

<h2>Take Your Time</h2>

<p>Don't be daunted by the HTML technical challenge. If you're new to development we expect you to complete several tutorials in order to finish your application (included on the tech challenge page of the application). These tutorials were hand picked by our instructors because of how well they communicate the content needed to succeed on the challenge. If you’ve already had some prior exposure to web development, you may be able to skip the tutorials and dive in (but it wouldn't hurt you to check them out).</p> 

<p>We want you to complete your application at a pace that's comfortable for you - finish it over as many sessions as you'd like, just click on the Apply button on the Prime website and login with your email (<%= @user.email %>) and your password to pick up wherever you left off.</p>

<h2>Ask Questions</h2>

<p>If you get stuck or aren't clear on what's being asked of you, feel free to respond to this email with any questions you may have, we're here to help!</p>

<p>Good luck, we're looking forward to having you in class!</p>

<p>-Prime</p>