<h1>You Did It!</h1>

<p>Prime Academy is focused on accelerating the success of passionate, motivated learners. We understand you take your future seriously and we truly appreciate the time and effort you put into your application. Our goal in admissions is to ensure that your time at Prime is spent surrounded by hard-working, dependable and talented peers. The connections that you form here will be important throughout your career.</p>

<p>Please be patient as we review your application and that of your potential classmates. We'll be in touch soon to schedule an interview or give you some ideas of things that we'd like you to spend some time working on before applying again in the future.</p>

<p>If you have an urgent question you can reach out to us at admissions@primeacademy.io and we'll do our best to answer it.</p>

<p>Thanks again for your time applying, we look forward to reviewing your work!</p>

<p>-Prime</p>