/* ---------------------------------------------------------------------
Main Navigation
------------------------------------------------------------------------ */
/* Show mobile menu on hover for sites that don't have javascript */
.no-js .navigation:hover .navigation-menu {
    @include isNotHidden();
}

.navigation-menu {
    padding: 8px;
    background-color: $COLOR_BLACK;
}

.navigation-menu-item { // remove default body li styles
	margin:0; 
	list-style:none;
}

.navigation-menu-item-link {
    display: block;
    padding:10px;
    color: $COLOR_WHITE;   
    font-family: $FONT_HEADLINE;
    text-transform: uppercase;
    font-size: 17px;    
	text-decoration: none;
}

.navigation-menu-item-link:hover {
	color:$COLOR_BRIGHT;
}

.navigation-menu-item-link.button:hover {
	color:$COLOR_WHITE;	
}

 @include breakpoint(mobile) {
 	
	/* ---------------------------------------------------------------------
	Main Navigation (Mobile)
	------------------------------------------------------------------------ */

	.navigation-button {
	    position: absolute;
	    background: asset-url('button-menu.svg') 0 0 no-repeat;
	    background-size: 100%;
	    top: 11px;
	    right: 10px;
	    display: block;
	    width: 38px;
	    height: 38px;
	    text-indent: -9999px; /* Hiding "menu" button text accessibly */
	    z-index:1;
	    border:none;
	}

	.navigation-button-menu-open {
	    background: asset-url('button-menuclose.svg') 0 0 no-repeat;		
	    background-size: 100%;	    
	}

	/* Styling navigation menu for mobile and hiding it just off of the browser, preparing for slide in */
	.navigation-menu {
	    position: absolute;
	    top:-400px;
	    display: block;
	    right:5%;
	    left:5%;
	    @include transition(top .5s ease-in); /* Transition is used for slide effect */    
	}

	/* This class is added by javascript and is used to slide the menu in when the Menu button is clicked */
	.navigation-menu-open {
	    top: $HEADER_HEIGHT;
	    @include transition(top .5s ease-out); /* Transition is used for slide effect */
	}

	.navigation-menu-item + .navigation-menu-item {
	    border-top: 1px solid #b2b2b2;
	}

}


 @include breakpoint(desktop) {

	/* ---------------------------------------------------------------------
	Main Navigation (Desktop)
	------------------------------------------------------------------------ */
	.navigation-button {
	    display: none;
	}

	.navigation-menu {
	    position: relative;
 		width:940px;
 		margin: 0 auto;
 		top:auto;	    
	    left:auto;
	    right:auto;
	    text-align: right;
	    background:none;
	}

	.navigation-menu-item {
	    display: inline-block;
	    border:none;
		margin:0 0 0 20px; 
	}

	.navigation-menu-item-link:hover {
	}

}
