/* ---------------------------------------------------------------------
Section Styles (Page Featurettes)
------------------------------------------------------------------------ */

.section {
	padding:$HEADER_HEIGHT 20px $HEADER_HEIGHT_WITHOUT_UNITS+60px 20px;
	margin-top: $NEGATIVE_HEADER_HEIGHT;	
}

.section + .section {
	border-top: 5px solid $COLOR_BLACK;
}

.section-intro {
	padding-top:200px;
	position:relative;
	margin-top:0;
}

.section-intro-logo {
	position: absolute;
	top:-20px;
	left:10px;
}

.section-intro-banner {
	height:270px;
	color:$COLOR_WHITE;
	text-align:center;
}