/* ---------------------------------------------------------------------
Section Styles (Page Featurettes)
------------------------------------------------------------------------ */

.section {
	padding:20px;
	padding-top: $HEADER_HEIGHT_WITHOUT_UNITS+20px; 
	margin-top: $HEADER_HEIGHT_WITHOUT_UNITS*-1px;	
}

.section + .section {
	border-bottom: 5px solid $COLOR_BLACK;
}

.section-intro {
	padding-top:200px;
	min-height:500px;
	position:relative;
	margin-top:0;
}

.section-intro-logo {
	position: absolute;
	top:30px;
	left:10px;
}