.layout {
	padding-top: $HEADER_HEIGHT;
}

.video-header {
	background:#BBBBBB;
	height:500px;
	position:absolute;
	right:0;
	left:0;
	z-index: -1;
	overflow:hidden;
}

.video-header-video {
	position:absolute;
	top:0;
	left:50%;
	margin-left:-812px;
}

.layout-header {
	position: fixed;
	background: $COLOR_BLACK;
	height: $HEADER_HEIGHT;
	width:100%;
	top: 0;
	left:0;
	z-index:1;
}

 @include breakpoint(mobile) {

	.logo {
		position: absolute;
		width: 100%;
		height: $HEADER_HEIGHT;
		z-index:1;
		background: $COLOR_BLACK;
	}

	.logo-link {
		position:absolute;
		top:10px;
		left:50%;
		margin-left:-63px;
	}

}


 @include breakpoint(desktop) {

 	.logo {
 		left:0px;
 		top:10px;
 		margin-left:0px;
 		position:absolute;
 		display:none;
 		z-index:1;
 	}

 	.layout-header-fixed .logo {
 		display:block;
 	}

 	.layout-header {
 		background:rgba(0,0,0,0);
 		position:absolute;
 		top:50px;
 	}

 	.layout-header-fixed {
 		background:rgba(0,0,0,1);
 		position: fixed;
 		top:0;
	    @include transition(background .5s ease-out);
		z-index:1
 	}

  	.layout-header-banner {
 		position:relative;
 		width:940px;
 		margin:0 auto;
 	}


 }