<% content_for :page_title, "Edit Profile Question" %>

<div class="ibox-content">
  <div class="row m-b-md">
    <div class="col-md-4">

      <%= render 'form' %>
    </div>
  </div>

  <%= link_to 'Show', @profile_question %> |
  <%= link_to 'Back', profile_questions_path %>
</div>