@import "base/common";

/* ---------------------------------------------------------------------
 Landmark Styles
------------------------------------------------------------------------ */

@import "landmarks/layout";
@import "landmarks/header";
@import "landmarks/navigation";
@import "landmarks/body";
@import "landmarks/footer";

/* ---------------------------------------------------------------------
 Module Styles
------------------------------------------------------------------------ */

@import "modules/apply/navigation";

// /* ---------------------------------------------------------------------
//  General Modern Styles
// ------------------------------------------------------------------------ */

// @import "screen";

// /* ---------------------------------------------------------------------
//  Larger Mobile Device Specific Styles
// ------------------------------------------------------------------------ */

// @media only screen and (min-width: $WIDTH_TABLET) {

//     @import "screen_small";

// } // end of media query

// /* ---------------------------------------------------------------------
//  Desktop Specific Styles
// ------------------------------------------------------------------------ */

// @media only screen and (min-width: $WIDTH_DESKTOP) {

//     @import "screen_medium";

// } // end of media query


.layout-footer {
  margin-top:30px;
  background:$COLOR_BLACK;
  color:$COLOR_WHITE;
  padding:20px;
}






pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

