@import "base/common";

/* ---------------------------------------------------------------------
 Landmark Styles
------------------------------------------------------------------------ */

@import "landmarks/layout";
@import "landmarks/header";
@import "landmarks/body";
@import "landmarks/footer";

/* ---------------------------------------------------------------------
 Module Styles
------------------------------------------------------------------------ */

@import "modules/apply/navigation";

// /* ---------------------------------------------------------------------
//  General Modern Styles
// ------------------------------------------------------------------------ */

@include breakpoint(desktop) {

  .layout {
    padding-top:$HEADER_HEIGHT;
  }

  .layout-logged-in {
   padding-top:100px; 
  }

  .layout-header-navigation-banner {
    width:100%;
    background:#4D4D4D;
    top:$HEADER_HEIGHT;
  }

}

.layout-footer {
  margin-top:30px;
  background:$COLOR_BLACK;
  color:$COLOR_WHITE;
  padding:20px;
}

.layout-body {
  max-width:940px;
  margin: 0 auto;
  padding:30px 20px;
}

.panel-register {
  background: $COLOR_DARK;
  color:$COLOR_WHITE;
  padding:20px 30px;
  float:left;  
  margin-bottom:20px;  
  margin-right:60px;
  width:320px;
  @include breakpoint(desktop) {
    width:450px
  }   
  .btn {
    background-color:$COLOR_BRIGHT;
  }
}

.panel-login {
  float:left;
  margin-bottom:20px;
  width:320px;
}

.review {
  background:#CCCCCC;
  color:$COLOR_DARKGRAY;
  padding:40px;
  @include box-shadow(0px 3px 8px 2px rgba(0,0,0,.25) inset);

  dt {
    font-weight:bold;
    width:170px;
    text-align:right;
    float:left;
    clear:left;
    margin-right:10px;
  }

  dd {
    float:left;
  }

  dl {
    @include clearfix;
  }

  h3 {
    clear:both;
  }

}

