@import "base/common";

/* ---------------------------------------------------------------------
 Landmark Styles
------------------------------------------------------------------------ */

@import "landmarks/layout";
@import "landmarks/header";
@import "landmarks/body";
@import "landmarks/footer";

/* ---------------------------------------------------------------------
 Module Styles
------------------------------------------------------------------------ */

@import "modules/apply/navigation";

// /* ---------------------------------------------------------------------
//  General Modern Styles
// ------------------------------------------------------------------------ */

.layout {
  padding-top:100px;
}

.layout-header-navigation-banner {
  width:100%;
  background:#4D4D4D;
  position:absolute;
  top:$HEADER_HEIGHT;
}

.layout-header {
  height:60px;
}

.layout-header-logged-in {
  height:100px;
}

.logo {
  position: absolute;
  width: 100%;
  height: $HEADER_HEIGHT;
  z-index:1;
}

.logo-link {
  position:absolute;
  left:50%;
  margin-left:-63px;
}



.layout-footer {
  margin-top:30px;
  background:$COLOR_BLACK;
  color:$COLOR_WHITE;
  padding:20px;
}

.layout-body {
  width:100%;
  max-width:940px;
  margin: 0 auto;
  padding:30px 20px;
}