/*
 * This file is used for the Admin menu on the client facing portion of the website.
 * This file is NOT used for the admin section of the website.  See application-admin.scss for that.
 */

@import "base/common";

.admin-menu {
	background: $COLOR_BLACK;
	position:fixed;
	top:0;
	left:0;
	margin:0;
	padding:20px;
	width:150px;
	z-index:100;

	h3 {
		color:$COLOR_WHITE;
		margin-top:0;
	}

	.admin-navigation {
		list-style:none;
		margin:0;
		padding:0;
		li {
		}
		a {
			display:block;
			padding:2px 10px;
		}
	}
}