

//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$gray-base:              #000;
$brand-primary:          #337277;

$border-radius-base:        2px;
$border-radius-large:       2px;
$border-radius-small:       2px;

@import "bootstrap-sprockets.scss";
@import "bootstrap";
//@import "font-awesome";
@import "animate";
@import "chosen_bootstrap";
@import "bootstrap-datepicker3";
@import "admin/style";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

/*
 * The following is used only in the development environment to aid in distinguishing which environment the browser
 * is rendering.
 */
$dev-header-color1: rgba(255, 0, 0, .2);
$dev-header-color2: rgba(255, 255, 0, .2);
$dev-header-color3: rgba(0, 255, 0, .2);
$dev-header-color4: rgba(0, 255, 255, .2);
$dev-header-color5: rgba(0, 0, 255, .2);
$dev-header-color6: rgba(255, 0, 255, .2);

.navbar-static-top.dev {
  background: -webkit-linear-gradient($dev-header-color1,$dev-header-color2,$dev-header-color3, $dev-header-color4,$dev-header-color5,$dev-header-color6);
  background: -o-linear-gradient($dev-header-color1,$dev-header-color2,$dev-header-color3, $dev-header-color4,$dev-header-color5,$dev-header-color6);
  background: -moz-linear-gradient($dev-header-color1,$dev-header-color2,$dev-header-color3, $dev-header-color4,$dev-header-color5,$dev-header-color6);
  background: linear-gradient($dev-header-color1,$dev-header-color2,$dev-header-color3, $dev-header-color4,$dev-header-color5,$dev-header-color6);
}
/* End of custom styles for the development environment */

div.dataTables_filter label {
  font-weight: bold;
  input {
    margin-left: 10px;
    font-weight: normal;
  }
}
span.answer-success {
  color: $lazur;
}
span.answer-warning {
  color: $yellow;
}
span.answer-error {
  color: $red;
}





