

//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$gray-base:              #000;
$brand-primary:          #337277;

$border-radius-base:        2px;
$border-radius-large:       2px;
$border-radius-small:       2px;

@import "bootstrap-sprockets.scss";
@import "bootstrap";
@import "font-awesome";
@import "animate";
@import "chosen_bootstrap";
@import "bootstrap-datepicker3";
@import "admin/style";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";



/* Move down content because we have a fixed navbar that is 50px tall */





