
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$gray-base:              #000;
$brand-primary:          #337277;

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

@import "bootstrap-sprockets.scss";
@import "bootstrap";
@import "bootstrap-theme";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */





