<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<div style="text-align:center; margin-bottom:30px;"><%= image_tag "logo-prime.png" %></div>
  	<%= yield -%>
  </body>
</html>